* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    gap: 28rem;
    font-weight: 500;
}

.logo-nav {
    max-width: 14%;
}

a {
    text-decoration: none !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.btn {
    font-size: 1.1em !important;
    font-weight: 500 !important;
}

header h6 {
    font-size: 1.1em;
}

header h1 {
    font-size: 2em;
}

header p {
    font-size: 1.3em;
}

header input {
    border: 3px solid #f3f5ff;
    text-align: end;
}

.dots p {
    font-size: 2em;
}

.pepper-title {
    gap: 13rem;
}

main .best-foods {
    border: 2px solid #f3f5ff;
    border-radius: 4.5%;
    padding: 2rem;
}

.best-foods button {
    font-size: .8em;
}

.restaurant {
    width: 4.5rem;
}

.top-foods-img {
    width: 5rem;
}

.absolute-pizza {
    top: 21rem;
    left: 0rem;
}

.top-restaurant-images {
    width: 16rem;
}

.truck {
    width: 10rem;
}